{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>Welcome to Hive services!</td>
    </tr>
    <tr>
        <td>You specified <strong>{{ user.email }}</strong> as your email address. Click this link to activate
        <a href="{{ host }}/email/activate/{{ emailActivationLink }}">{{ host }}/email/activate/{{ emailActivationLink }}</a>.</td>
    </tr>
    <tr>
        <td>If you have any questions or did not register on our services, please contact us anytime at support@hive.com.</td>
    </tr>
{% endblock %}