{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>По вашему запросу, Hive поможет изменить текущий адрес электронной почты.</td>
    </tr>
    <tr>
        <td>Перейдите по ссылке на страницу смены адреса электронной почты <a href="{{ host }}/email/change/{{ emailChangeLink }}">https://hive.com/email/change/{{ emailChangeLink }}</a>
        и установите новый адрес.<br>
        <strong>Ссылка действительна {{ expires }}.</strong></td>
    </tr>
    <tr>
        <td>Если у вас возникли сложности или появились вопрсоы по поводу смены адреса электронной почты
            свяжитесь с нами в любое время support@hive.com.</td>
    </tr>
{% endblock %}