{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>Адрес электронной почты успешно изменён.</td>
    </tr>
    <tr>
        <td>Текущий адрес: <strong>{{ user.email }}</strong>.</td>
    </tr>
    <tr>
        <td>Если у вас возникли сложности или появились вопрсоы по поводу смены адреса электронной почты
            свяжитесь с нами в любое время support@hive.com.</td>
    </tr>
{% endblock %}