{% extends './base_email.html' %}

{% block mailbody %}
    <tr>
        <td>Пароль успешно изменён.</td>
    </tr>
    <tr>
        <td>Если у вас есть вопросы, или вы не изменяли пароль, свяжитесь с нами support@hive.com.</td>
    </tr>
{% endblock %}